<main class="container-fluid p-4">
    <section class="categorias">
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Todos')">Todos</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Pollos')">Pollerias</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Hamburguesas')">Hamburgueserias</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Pizzerias')">Pizzerias</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Chifa')">Chifas</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Parrilla')">Parrillas</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Mariscos')">Mariscos</button>
        <button type="button" class="btn btn-custom" (click)="filtrarPorCategoria('Tradicional')">Tradicionales</button>
    </section>
    <section class="restaurantes p-4">
        <div class="rest-items">
            <div class="card card-custom h-70" *ngFor="let item of collection.data">
                <img [src]="item.imagen" class="card-img-top img-custom">
                <div class="card-body">
                    <h5 class="card-title text-center mb-2">{{ item.nombre }}</h5>
                    <p class="card-text">{{ item.descripcion }}</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-visitar"><a href="#">Visitar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
