.categorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #B10303;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 1000px;
    padding: 10px;
    margin: 20px auto;
    border-collapse: collapse;
}

.btn-custom {
    background-color: #FFF1F1;
    color: #500000;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid #B10303;
}

.btn-custom:hover {
    background-color: #B10303;
    color: #ffffff;
}

.rest-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-custom .card-img-top {
    height: 40%;
    object-fit: cover;
    border-radius: 18px 18px 0 0 !important;
}

.card-custom {
    margin-bottom: 25px;
    max-width: 294px;
    max-height: 354px;
    background-color: #FFF1F1 !important;
    color: #500000 !important;
    border-radius: 20px !important;
    border: 1px solid #B10303 !important;
}

.btn-visitar {
    background-color: #B10303;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;;
}

.btn-visitar:hover {
    background-color: #FFF1F1;
    color: #B10303;
    border: 1px solid #B10303;
    color: #500000;
    text-decoration: none;
}

.btn-visitar {
    color: #ffffff;
    text-decoration: none;
}

.card-custom .card-title {
    font-size: 1.25em;
    color: #500000 !important;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card-text {
    height: 98px;
    overflow-y: auto;
    font-size: 16px !important;
    line-height: 1.4 !important;
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card-text::-webkit-scrollbar {
    width: 2.5px;
}

.card-text::-webkit-scrollbar-thumb {
    background-color: #B10303;
}