footer {
    background-color: #B10303;
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: white;
}

.social-icon {
    color: white;
    font-size: 28px;
    margin: 0 10px;
}