.navbar {
    background-color: #B10303;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 15px;
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.nav-link{
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 1.20em;

}

.nav-link:hover {
    color: white;
}

li{
    margin-right: 15px;
}

.mant-dropdown {
    background-color: #FFF1F1;
    border: 1px solid #B10303;
    font-family: "Blinker", sans-serif;
}