<div class="user-content">
    <div class="user-dash-content">
        <div class="control-user">
            <div class="user-img">
                <img src="../../../../assets/images/user-default.png">
            </div>
            <div class="user-buttoms">
                <a class="btn-user" routerLink="/user/informacion">
                    <div><i class="bi bi-person-lines-fill"></i> Información del Usuario </div>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
                <a class="btn-user" routerLink="/user/historial">
                    <div><i class="bi bi-card-list"></i> Historial de Pedidos </div>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
                <a class="btn-user" routerLink="/user/preguntas">
                    <div><i class="bi bi-info-circle"></i> FAQ </div>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
                <a class="btn-user" routerLink="/user/ayuda">
                    <div><i class="bi bi-question-circle"></i> Ayuda </div>
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="user-contenido">
        <router-outlet></router-outlet>
    </div>
</div>