.user-content {
    max-width: 100%;
    display: flex;
}

.user-dash-content {
    width: fit-content;
}

.user-contenido {
    width: auto;
}

.control-user {
    width: 375px;
    height: 550px;
    margin: 24px 24px 24px 24px;
    background-color: #FFF1F1;
    border: 2px solid #B10303;
    border-radius: 12px;
}

.user-img {
    height: 225px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-img img {
    margin: auto;
    width: 160px;
}

.user-buttoms {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-user {
    width: 75%;
    background-color: #ED1515;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #B10303;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}