<div class="login">
    <div class="container">
        <div class="card-login">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <img src="../../../assets/images/logo_foodie_rojo.png" class="login-image">
                <input type="email" placeholder="Email:" class="login-input-email" required formControlName="email" name="email" ngModel>
                <input type="password" placeholder="Contraseña:" class="login-input-contraseña" required formControlName="password" name="password" ngModel>
                <button type="submit" class="login-button">INICIAR SESIÓN</button>
                <button class="login-google-button">INICIAR CON GOOGLE</button>
            </form>
        </div>
    </div>
</div>