.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #B10303;
    /* Líneas en los costados de la tabla */
    color: #500000;
}

.table th, .table td {
    border: 1px solid #B10303;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
    color: rgba(85, 0, 0, 1);
    max-width: 200px;
}

.table th {
    background-color: #FFF1F1;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table td:nth-child(4) {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para cambiar el fondo de los iconos */
.btn-edit {
    background-color: #f2ff00;
    /* Color de fondo para botones de editar y eliminar */
    color: #000000;
    /* Color de texto para botones de editar y eliminar */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete {
    background-color: #ff0000;
    /* Color de fondo para botones de editar y eliminar */
    color: #000000;
    /* Color de texto para botones de editar y eliminar */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnDelete {
    margin-left: 10%;
}

.btn-edit:hover,
.btn-delete:hover {
    background-color: #0056b3;
    /* Cambio de color al pasar el mouse sobre los botones */
}

/* Estilos para el botón de agregar */
.btn-agregar {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #218838;
}

/* Estilos para el título "Gestión de Restaurantes" */
.titulo {
    font-family: "Rowdies", sans-serif;
    font-size: 40px;
    color: rgba(177, 3, 3, 1);
    font-size: 40px;
}

.paginationContent {
    text-align: center;
    color: rgba(177, 3, 3, 1);
}