.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #B10303;
    color: #500000;
}

.table th, .table td {
    border: 1px solid #B10303;
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
    color: rgba(85, 0, 0, 1);
  }

.table th {
    background-color: #FFF1F1;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table td:nth-child(4) {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btnDelete {
    margin-left: 10%;
}

/* Estilos para el título "Gestión de Restaurantes" */
.titulo{
    font-family: "Rowdies", sans-serif;
    font-size: 40px;
<<<<<<< HEAD
    font-weight: bold;
    margin-bottom: 5px;
}

.paginationContent {
    text-align: center;
=======
    color: rgba(177, 3, 3, 1);
>>>>>>> d665e5bd1483bb822cbb9544e62f11d46246ff7d
}