<div class="historial">
    <h1 class="titulo-historial">Historial de Pedidos</h1>
    <div class="cont-historial">
        <div *ngFor="let v of collection.data" class="card-historial">
            <h5 class="card-hist-titulo m-0">Fecha de compra: {{ v.fecha }}</h5>
            <h5 class="card-hist-cont-header">
                <p class="m-0">Productos:</p><p class="m-0">Precio en S/:</p>
            </h5>
            <h5 class="card-hist-cont">
                <div class="productos">
                    <div class="m-0" *ngFor="let nombre of v.nombres.split(', ')">
                        <p class="m-0">{{ nombre }}</p>
                    </div>
                </div>
                <div class="precios">
                    <div class="m-0 costos" *ngFor="let precio of v.precios.split(', ')">
                        <p class="m-0">{{ 'S/ ' + precio }}</p>
                    </div>
                </div>
            </h5>
            <h5 class="card-hist-footer">
                <p>Precio total:</p><p>{{ 'S/ ' + v.pTotal }}</p>
            </h5>
        </div>
    </div>
</div>


