<main class="p-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="titulo">Gestión de Usuarios</h2>
        <button class="btn btn-success"><i class="bi bi-plus-circle"></i> Registrar</button>
    </div>
    <table id="TablaUsuario" class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Género</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Rol</th>
                <th scope="col">Foto Perfil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Lopez Sanchez</td>
                <td>Masculino</td>
                <td>987654321</td>
                <td>Lima</td>
                <td>21/04/2000</td>
                <td>ADMIN</td>
                <td><img src="../../../../assets/images/imgPrueba/user.png" width="45"></td>
                <td>
                    <button class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-danger btnDelete"><i class="bi bi-trash3-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<script>
    let table = new DataTable('#TablaUsuario');
</script>
