<h2 class="titulo">{{ tituloMenu }}</h2>
<section class="contaner-fluid p-4 c-menu">
  <div class="cont-menus">
    <div class="plato-carta" *ngFor="let plato of restPlatos">
      <img [src]="plato.imagen" class="img-plato-carta img-item" />
      <div class="title-plato-carta">
        <div class="title-plato-titulo">
          <span class="titulo-item">{{ plato.nombre }}</span>
        </div>
        <p>{{ plato.descripcion }}</p>
        <div class="cta-wrap_tarjeta-rest">
          <span class="precio_tarjeta-rest precio-item">S/. {{ plato.precio }}</span>
          <div class="cta_tarjeta-rest">
            <button class="boton-item" click="hacerVisibleCarrito()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carrito" id="carrito">
    <div class="header-carrito">
      <h4 class="m-0">Resumen de las Compras</h4>
    </div>
    <div class="carrito-items">
    </div>
    <div class="carrito-total">
      <div class="fila m-0">
        <div class="info-pagar">
          Tu Total
          <span class="carrito-precio-total">
            $120.000,00
          </span>
        </div>
        <div>
          <button class="btn-pagar" (click)="pagar()" click="pagarClicked()">Comprar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
        <!--<ngx-paypal style="margin-top: 20px;" [config]="payPalConfig"></ngx-paypal>-->
      </div>
    </div>
  </div>
</section>
